@use "justify" as *;

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  margin: 0px;
  font-size: 0px;
  padding: 0px;
  @include justify(center);
  &__hearts {
    width: 100%;
    z-index: 1;
  }
}

.hidden{
  display: none;
}


