


<div class="background">
  <div class="sky">
    <div class="container" fxLayout="column">
      <app-animated-backgroud fxHide.sm fxHide.xs fxShow.gt-md fxShow.lg fxShow.md class="container__background">
      </app-animated-backgroud>
      <app-hearts-floating class="container__hearts" (OnShowMusic)="showMusicPlayer($event)"></app-hearts-floating>
    </div>

    <app-songs [ngClass]="{'hidden': !showPlayer}"></app-songs>
    <div class="stars"></div>
    <div class="stars1"></div>
    <div class="stars2"></div>
    <div class="shooting-stars"></div>
  </div>
</div>
