

<div class="music" fxLayout="column">
   <h3>{{currentSong?.name}}</h3>
  <span>{{currentSong?.autor}}</span>

  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
     <button (click)="previouSong()"><</button>
     <img [src]="currentSong?.cover">
      <button (click)="nextSong()">></button>
    </div>
    <audio
     #audio
     (ended)="nextSong()"
     controls
     [volume]="volume"
    ></audio>


  </div>
  <button #btnPlay (click)="playSong()" class="music__play">
    {{isPlaying ? 'Pause' : 'Play'}}
  </button>
</div>

<div class="slidecontainer">
  <input class="slider" type="range" min="0.0" max="1.0" step="0.1" [(ngModel)]="volume">
</div>
