@use "justify" as *;

.music {
  audio{
    display: none;
  }
  width: 100%;
  position: absolute;
  z-index: 5;
  color: white;

  @include justify(center);
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  font-family: "Fuzzy Bubbles";
  img {
    width: 60px;
    height: 60px;
  }
  &__play {
    background: transparent !important;
  }
  button {
    border: none;
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 20px;
    background: #ffffff30;
    color: white;
    font-size: 22px;
    font-family: "Fuzzy Bubbles";
    cursor: pointer;
    @include justify(center);
  }
}

@media screen and (max-width: 768px) {
  .music {
    font-size: 18px;
    img {
      width: 40px;
      height: 40px;
    }
    button {
      width: 30px;
      height: 30px;
      margin-top: 5px;
      font-size: 22px;
    }
  }
}


.slidecontainer {
  position: absolute;
  left: -20px;
  top: 50px;
  z-index: 5;
  width: 100px;
}


.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: #5FC1C2;
  outline: none;
  opacity: 0.5;
  transition: opacity 0.2s;
  border-radius: 5px;
  -webkit-transform: rotate(-90deg);
}


.slider:hover {
  opacity: 1;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: url('/assets/images/love-range.png');
  background-size: cover;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: url('/assets/images/love-range.png');
  background-size: cover;
  cursor: pointer;
  -webkit-transform: rotate(90deg);
}
