
$color-primary:#884EA0;

$fonts-fuzzy:(
     "Fuzzy":(
      "font-family": "Fuzzy Bubbles",
      "font-path": "/assets/fonts/Fuzzy/FuzzyBubbles-Regular.ttf",
      "font-weight": 400,
      "font-style": normal,
      "font-display": swap
     ),
      "Fuzzy-Bold":(
        "font-family": "Fuzzy Bubbles",
        "font-path": "/assets/fonts/Fuzzy/FuzzyBubbles-Bold.ttf",
        "font-weight": 700,
        "font-style": normal,
        "font-display": swap
      )
);
$fonts-roboto:(
    "Roboto": (
        "font-family": "Roboto",
        "font-weight": 400,
        "font-style": normal,
        "font-display": swap,
        "font-path": "/assets/fonts/Roboto/Roboto-Regular.ttf",
    ),
    "Roboto-Bold": (
        "font-family": "Roboto",
        "font-weight": 700,
        "font-style": normal,
        "font-display": swap,
        "font-path": "/assets/fonts/Roboto/Roboto-Bold.ttf",
    ),
    "Roboto-Italic": (
        "font-family": "Roboto",
        "font-weight": 400,
        "font-style": italic,
        "font-display": swap,
        "font-path": "/assets/fonts/Roboto/Roboto-Italic.ttf",
    ),
    "Roboto-BoldItalic": (
        "font-family": "Roboto",
        "font-weight": 700,
        "font-style": italic,
        "font-display": swap,
        "font-path": "/assets/fonts/Roboto/Roboto-BoldItalic.ttf",
    ),
)


