
$color-primary:#884EA0;

$animations-hearts:(
  "1":(
    "DurationMotion":20s,
    "DurationMove":23s,
    "Delay":5s,
    "index":1
  ),
  "2":(
    "DurationMotion":12s,
    "DurationMove":15s,
    "Delay":1s,
    "index":2
  ),
  "3":(
    "DurationMotion":12s,
    "DurationMove":15s,
    "Delay":18s,
    "index":3
  ),
  "4":(
    "DurationMotion":16s,
    "DurationMove":19s,
    "Delay":11s,
    "index":4
  ),
  "5":(
    "DurationMotion":15s,
    "DurationMove":18s,
    "Delay":5s,
    "index":5
  )
);
$fonts-fuzzy:(
     "Fuzzy":(
      "font-family": "Fuzzy Bubbles",
      "font-path": "/assets/fonts/Fuzzy/FuzzyBubbles-Regular.ttf",
      "font-weight": 400,
      "font-style": normal,
      "font-display": swap
     ),
      "Fuzzy-Bold":(
        "font-family": "Fuzzy Bubbles",
        "font-path": "/assets/fonts/Fuzzy/FuzzyBubbles-Bold.ttf",
        "font-weight": 700,
        "font-style": normal,
        "font-display": swap
      )
);
$fonts-roboto:(
    "Roboto": (
        "font-family": "Roboto",
        "font-weight": 400,
        "font-style": normal,
        "font-display": swap,
        "font-path": "/assets/fonts/Roboto/Roboto-Regular.ttf",
    ),
    "Roboto-Bold": (
        "font-family": "Roboto",
        "font-weight": 700,
        "font-style": normal,
        "font-display": swap,
        "font-path": "/assets/fonts/Roboto/Roboto-Bold.ttf",
    ),
    "Roboto-Italic": (
        "font-family": "Roboto",
        "font-weight": 400,
        "font-style": italic,
        "font-display": swap,
        "font-path": "/assets/fonts/Roboto/Roboto-Italic.ttf",
    ),
    "Roboto-BoldItalic": (
        "font-family": "Roboto",
        "font-weight": 700,
        "font-style": italic,
        "font-display": swap,
        "font-path": "/assets/fonts/Roboto/Roboto-BoldItalic.ttf",
    ),
)


