@use 'linearGradient' as *;
@use 'hearts' as *;
@include heart-animated;
.container {
  img {
    height: 90px;
    width: 90px;
    position: absolute;
    opacity: 1;
    z-index: 5;
    border-radius: 50px;
    top: 5px;
    left: -2px;
  }
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  margin: 0px;
  font-size: 0px;
  padding: 0px;

  .col {
    display: inline-block;
    width: 19%;
    cursor: pointer;
  }
  .heart {
    width: 150px;
    height: 150px;
    position: relative;
    top: 120vh;
    z-index: -1;
  }

  @media screen and (max-width: 767px) {
    img {
      height: 62px;
      width: 62px;
      top: 0px;
      left: -6px;
    }
    .heart {
      width: 100px;
      height: 100px;
    }
    .circle {
      width: 60px;
      height: 60px;
      margin: 25px 0px 0px 20px;
    }
    .circle::after {
      width: 60px;
      height: 60px;
      margin: 34px 0px;

    }
    .circle::before {
      width: 60px;
      height: 60px;
      margin: 0px 34px;
    }
  }
}

.circle {
  @include circle-style(35px 0px 0px 30px, 0, -135deg);
}

.circle::after {
  @include circle-style(44px 0px, 45px, 0deg);
}

.circle::before {
  @include circle-style(0px 44px, 45px, 0deg);
}







