



img {
  height: 90px;
  width: 90px;
  position: absolute;
  opacity: 1;
  z-index: 5;
  border-radius: 50px;
  top: 5px;
  left: -2px;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  margin: 0px;
  font-size: 0px;
  padding: 0px;
}

.col {
  display: inline-block;
  width: 19%;
  cursor: pointer;
}

.heart {
  /*content*/
  width: 150px;
  height: 150px;
  position: relative;
  top: 120vh;
  z-index: -1;
}

.circle {
  /*circle2*/
  width: 90px;
  height: 90px;
  content: "";
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  margin: 35px 0px 0px 30px;
  transform: rotate(-135deg);
}

.circle::after {
  /*square*/
  width: 90px;
  height: 90px;
  content: "";
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 45px;
  position: absolute;
  margin: 44px 0px;
}

.circle::before {
  width: 90px;
  height: 90px;
  content: "";
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  z-index: 1;
  margin: 0px 44px;
  border-radius: 45px;
}

/******************************/
.halfMoon {
  background: transparent;
  height: 90px;
  width: 45px;
  position: absolute;
  border-radius: 76px 0px 0px 0px;
  margin: 82px 81px;
  transform: rotate(45deg);
}
.halfMoon::before {
  height: 90px;
  width: 45px;
  border-radius: 76px 0px 0px 0px;
  content: "";
  position: absolute;
  margin: 45px -40px;
  transform: rotate(78.5deg);
}

.halfMoon::after {
  height: 90px;
  width: 45px;
  border-radius: 0px 0px 0px 76px;
  content: "";
  margin: 3px 7px;
  position: absolute;
  transform: rotate(369deg);
}

.heart1 {
  animation: 20s Linear-motion infinite, MoveLeft 23s infinite;
  animation-delay: 5s;
}

.heart2 {
  animation: 12s Linear-motion infinite, MoveLeft 15s infinite;
  animation-delay: 1s;
}

.heart3 {
  animation: 12s Linear-motion infinite, MoveLeft 15s infinite;
  animation-delay: 18s;
}

.heart4 {
  animation: 16s Linear-motion infinite, MoveLeft 19s infinite;
  animation-delay: 11s;
}

.heart5 {
  animation: 15s Linear-motion infinite, MoveLeft 18s infinite;
  animation-delay: 5s;
}

@keyframes Linear-motion {
  0% {
    top: 100vh;
  }
  100% {
    top: -20vh;
  }
}

@keyframes MoveLeft {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 50%;
  }
  100% {
    margin-left: 0%;
  }
}
@media screen and (max-width: 767px) {
  img{
    width: 60px;
    height: 60px;
    top: 1px;
    left: -4px;
  }
  .heart{
    width: 100px;
    height: 100px;
  }
  .circle{
    width: 60px;
    height: 60px;
    margin: 25px 0px 0px 20px;
  }
  .circle::after{
    width: 60px;
    height: 60px;
    margin: 34px 0px;
  }
  .circle::before{
    width: 60px;
    height: 60px;
    margin: 0px 34px;
  }
  .halfMoon{
    width: 30px;
    height: 60px;
    margin: 57px 56px;
  }
  .halfMoon::before{
    width: 30px;
    height: 60px;
    margin: 30px -25px;
  }
  .halfMoon::after{
    width: 30px;
    height: 60px;
    margin: 3px 7px;
  }
}


